.ui-alert {
  background-color: #FDD;
  padding: 18px;
  border-radius: 4px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.ui-alert-title, .ui-alert-message {
  color: #A44;
}

.ui-alert-title {
  font-weight: bold;
  font-size: 22px;
}

.ui-accordion-title {
	border: 1px solid #CCCCCC;
	cursor: pointer;
  background: -moz-linear-gradient(top, #BBB, #E1E1E1);
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
	margin-top: 10px;
	text-align: left;
}

.ui-accordion-content {
	border: 1px dashed #CCCCCC;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: left;
}
