.ui-alert {
  background-color: #FDD;
  padding: 18px;
  border-radius: 4px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.ui-alert-title, .ui-alert-message {
  color: #A44;
}

.ui-alert-title {
  font-weight: bold;
  font-size: 22px;
}

